Main/img/animations/*
Main/img/battlebacks1/*
Main/img/battlebacks2/*
Main/img/enemies/*
Main/img/faces/*
Main/img/parallaxes/*
Main/img/sv_actors/*
Main/img/sv_enemies/*
Main/img/system/*
Main/img/titles1/*
Main/img/titles2/*

